package-lock.json
src/output.xml
node_modules
cache
temp
output.xml

tests/testProjects/BasicTest/.idea/.idea.BasicTest/.idea/

tests/testProjects/BasicTest/.idea/.idea.BasicTest/

tests/testProjects/BasicTest/BasicTest/obj/
